node_modules/
dist/
target/
.npm-cache/
.DS_Store
**/.git/
research/luaplayer/repositories/
research/luaplayer/extracted/CurryGuy__lua-player-plus/
research/luaplayer/extracted/FrankBuss__LuaPlayer/
research/luaplayer/extracted/Klozz__LuaPlayer/
research/luaplayer/extracted/OrkPork__my-project-big-luaplayer-for-psp/
research/luaplayer/extracted/Rinnegatamante__lua-player-plus/
research/luaplayer/extracted/antim0118__LuaPlayer-by-YuliaTeam/
research/luaplayer/extracted/pavel-demin__lua-player-plus/
games/**/EBOOT.PBP
games/**/*.elf
games/**/*.o
games/**/PARAM.SFO
games/**/Support.prx
